
@font-face {font-family: "iconfont";
  src: url('fonts/iconfont.eot'); /* IE9*/
  src: url('fonts/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/iconfont.woff') format('woff'), /* chrome, firefox */
    url('fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

[class^="yt-icon-"], [class*=" yt-icon-"] {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.yt-icon-app:before { content: "\e61b"; }
.yt-icon-sql:before { content: "\e7dd"; }
.yt-icon-text:before { content: "\e791"; }
 .yt-icon-addition:before { content: "\e613"; }
.yt-icon-browse:before { content: "\e66f"; }
.yt-icon-brush:before { content: "\e7ce"; }
.yt-icon-clock:before { content: "\e65d"; }
 .yt-icon-close:before { content: "\e694"; }
.yt-icon-collection:before { content: "\e616"; }
.yt-icon-computer:before { content: "\e693"; }
.yt-icon-coordinates:before { content: "\e615"; }
.yt-icon-coupons:before { content: "\e657"; }
.yt-icon-createtask:before { content: "\e617"; }
.yt-icon-customerservice:before { content: "\e77b"; }
.yt-icon-delete:before { content: "\e6b8"; }
.yt-icon-document:before { content: "\e612"; }
.yt-icon-dynamic:before { content: "\e641"; }
.yt-icon-editor:before { content: "\e608"; }
.yt-icon-eit:before { content: "\e77e"; }
.yt-icon-emoji:before { content: "\e62c"; }
.yt-icon-empty:before { content: "\e625"; }
.yt-icon-flag:before { content: "\e627"; }
.yt-icon-flashlight:before { content: "\e8c0"; }
.yt-icon-flip:before { content: "\e619"; }
.yt-icon-fullscreen:before { content: "\e6b6"; }
.yt-icon-group:before { content: "\e717"; }
.yt-icon-headlines:before { content: "\e618"; }
.yt-icon-homepage:before { content: "\ecdb"; }
.yt-icon-integral:before { content: "\e60e"; }
.yt-icon-interactive:before { content: "\e66e"; }
.yt-icon-keyboard:before { content: "\e7bf"; }
.yt-icon-label:before { content: "\e659"; }
.yt-icon-like:before { content: "\e643"; }
.yt-icon-live:before { content: "\e611"; }
.yt-icon-lock:before { content: "\e603"; }
.yt-icon-mail:before { content: "\e7d7"; }
.yt-icon-manage:before { content: "\e6e9"; }
.yt-icon-message:before { content: "\e6c7"; }
.yt-icon-mine:before { content: "\e60d"; }
.yt-icon-mobilephone:before { content: "\e62b"; }
.yt-icon-more:before { content: "\e622"; }
.yt-icon-narrow:before { content: "\e61d"; }
.yt-icon-offline:before { content: "\e61f"; }
.yt-icon-order:before { content: "\e61e"; }
.yt-icon-other:before { content: "\e75a"; }
.yt-icon-people:before { content: "\e666"; }
.yt-icon-picture:before { content: "\e65f"; }
.yt-icon-play:before { content: "\e60a"; }
.yt-icon-playon:before { content: "\e60f"; }
.yt-icon-praise:before { content: "\e621"; }
.yt-icon-prompt:before { content: "\e61a"; }
.yt-icon-qrcode:before { content: "\e620"; }
.yt-icon-redpacket:before { content: "\e69c"; }
.yt-icon-refresh:before { content: "\e60b"; }
.yt-icon-remind:before { content: "\e661"; }
.yt-icon-return:before { content: "\e632"; }
.yt-icon-left:before { content: "\e605"; }
.yt-icon-right:before { content: "\e68b"; }
.yt-icon-up:before { content: "\e607"; }
.yt-icon-down:before { content: "\e600"; }
.yt-icon-left-fill:before { content: "\e609"; }
.yt-icon-right-fill:before { content: "\e606"; }
.yt-icon-up-fill:before { content: "\e62f"; }
.yt-icon-down-fill:before { content: "\e630"; }
.yt-icon-scan:before { content: "\e626"; }
.yt-icon-select:before { content: "\ebad"; }
.yt-icon-send:before { content: "\e71f"; }
.yt-icon-service:before { content: "\e69e"; }
.yt-icon-setup:before { content: "\e614"; }
.yt-icon-share_fill:before { content: "\e69f"; }
.yt-icon-share:before { content: "\e636"; }
//.yt-icon-tailor:before { content: "\e75c"; }
.yt-icon-undo:before { content: "\e602"; }
.yt-icon-unlock:before { content: "\e699"; }
.yt-icon-loading:before { content: "\e722"; }
.yt-icon-bank:before{ content: "\e62a"; }
.yt-icon-recv:before{content: "\e601";}
.yt-icon-sendcv:before{content: "\e631";}
.yt-icon-credit:before{content: "\e64d";}