@charset "UTF-8";
@import "./common/var";
.yt{
    &-row{
        position: relative;
        box-sizing: border-box;
        overflow: hidden;
        &--flex{
            display: flex;
            &:before,
            &:after{
                display: none;
            }
                
            &.is{
                &-justify-center {
                    justify-content: center;
                }
                
            &-justify-end{
                justify-content: flex-end;
            }
                
            &-justify-space-between{
                justify-content: space-between;
            }
                
            &-justify-space-around {
                justify-content: space-around;
            }
                
            &-align-middle {
                align-items: center;
            }
               
            &-align-bottom{
                align-items: flex-end;
            }
                
            }
                
        }
    }
    
   
        
} 
    

